Temp/UnityLockfile
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/ShaderCache.db
Library/metadata/
Library/ShaderCache/
Temp/UnityTempFile-a581f44b6aefab64fa9b1886697d6f55
Temp/UnityTempFile-bf8f062cd36230642bd48338c880db7a
